Repository glotzerlab/freud, pull requests merged in 2019-11, with the labels that each got.

#545 Fix/from system dimensionality
  ChangeLog.md
  doc/source/credits.rst
  freud/locality.pyx
Labels: bug, locality

#550 Fix searched name for ovito object
  ChangeLog.md
  freud/locality.pyx
Labels: bug, locality

#551 Pass dimensions in from_box through to from_matrix. Minor improvements to error handling
  ChangeLog.md
  freud/box.pyx
  tests/test_box_Box.py
Labels: box, bug

#553 Add periodic center-of-mass computations to Box class.
  .github/PULL_REQUEST_TEMPLATE.md
  ChangeLog.md
  cpp/box/Box.h
  cpp/cluster/ClusterProperties.cc
  doc/source/reference/credits.rst
  freud/_box.pxd
  freud/box.pyx
  tests/test_box_Box.py
  tests/test_cluster.py
Labels: box, bug, cluster, enhancement

#554 make_random_system no longer overwrites global np.random state
  ChangeLog.md
  freud/data.py
  freud/plot.py
Labels: data, enhancement

#555 Fix/gsd 2d from system
  ChangeLog.md
  cpp/locality/NeighborQuery.h
Labels: bug, locality
