Repository glotzerlab/freud, pull requests merged in 2019-08, with the labels that each got.

#364 Fix possible out of bounds access in LinkCell
  ChangeLog.md
  cpp/locality/LinkCell.cc
  tests/test_locality_NeighborQuery.py
Labels: bug, locality

#366 Initialize TBB explicitly at import.
  freud/__init__.py
  freud/parallel.pyx
Labels: enhancement

#373 Make Wl real.
  cpp/order/LocalWl.cc
  cpp/order/LocalWl.h
  cpp/order/Steinhardt.cc
  cpp/order/Steinhardt.h
  cpp/order/Wigner3j.cc
  cpp/order/Wigner3j.h
  freud/_order.pxd
  freud/order.pyx
  tests/test_order_LocalQl.py
  tests/test_order_LocalWl.py
  tests/test_order_Steinhardt.py
Labels: bug, order

#371 Fix Condon-Shortley Phase resulting in incorrect Wl order parameters.
  .circleci/config.yml
  ChangeLog.md
  appveyor.yml
  cpp/order/LocalWl.cc
  cpp/order/LocalWl.h
  cpp/order/Steinhardt.cc
  cpp/order/Steinhardt.h
  cpp/order/Wigner3j.cc
  cpp/order/Wigner3j.h
  cpp/order/wigner3j.cc
  cpp/order/wigner3j.h
  freud/_order.pxd
  freud/order.pyx
  setup.py
  tests/test_environment_LocalDescriptors.py
  tests/test_order_LocalQl.py
  tests/test_order_LocalWl.py
  tests/test_order_Steinhardt.py
Labels: bug

#379 Use standard names in plot API.
  freud/cluster.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/plot.py
  freud/voronoi.pyx
Labels: enhancement

#381 Use rowan for quaternions in testing.
  tests/test_environment_AngularSeparation.py
  tests/test_environment_BondOrder.py
  tests/test_environment_LocalBondProjection.py
  tests/test_order_Cubatic.py
  tests/test_order_Nematic.py
Labels: testing & validation

#382 Remove versions added/changed from docs
  freud/box.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/locality.pyx
  freud/msd.pyx
  freud/order.pyx
Labels: documentation

#380 Drop Python 2 builds
  .circleci/config.yml
  ChangeLog.md
  doc/source/installation.rst
  freud/cluster.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/order.pyx
  freud/pmft.pyx
  freud/voronoi.pyx
  setup.py
Labels: building & installation, enhancement

#387 Cleanup repo root
  .coveragerc
  freud.sublime-project
  scripts/lint-detector.pl
  setup.cfg
Labels: enhancement

#374 Fix/gaussian args
  ChangeLog.md
  cpp/density/GaussianDensity.cc
  cpp/density/GaussianDensity.h
  doc/source/density.rst
  freud/_density.pxd
  freud/density.pyx
  freud/order.pyx
  tests/test_density_GaussianDensity.py
Labels: density

#388 Refactor/remove old steinhardt
  cpp/order/LocalQl.cc
  cpp/order/LocalQl.h
  cpp/order/LocalWl.cc
  cpp/order/LocalWl.h
  freud/_order.pxd
  freud/order.pyx
  tests/test_order_LocalQl.py
  tests/test_order_LocalWl.py
Labels: order

#389 Refactor/remove old voronoi
  freud/__init__.py
  freud/voronoi.cpp
  freud/voronoi.pyx
  setup.py
  tests/test_voronoi.py
Labels: voronoi

#391 Fix rotational invariance tests on CI
  .circleci/config.yml
  tests/test_order_LocalQl.py
  tests/test_order_LocalWl.py
  tests/test_order_Steinhardt.py
Labels: bug, testing & validation

#395 Feature/standardize query args
  ChangeLog.md
  cpp/locality/AABBQuery.h
  cpp/locality/NeighborComputeFunctional.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  freud/_locality.pxd
  freud/common.pxd
  freud/common.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/locality.pxd
  freud/locality.pyx
  freud/order.pyx
  tests/test_density_ComplexCF.py
  tests/test_density_FloatCF.py
  tests/test_environment_LocalDescriptors.py
  tests/test_locality_NeighborQuery.py
  tests/test_pmft.py
Labels: enhancement, locality

#401 Refactor/remove extra pmft args
  ChangeLog.md
  cpp/pmft/PMFTXY2D.cc
  cpp/pmft/PMFTXY2D.h
  freud/_pmft.pxd
  freud/common.pxd
  freud/common.pyx
  freud/density.pyx
  freud/locality.pyx
  freud/pmft.pyx
  tests/test_density_ComplexCF.py
  tests/test_density_FloatCF.py
  tests/test_pmft.py
Labels: pmft

#405 Update cluster
  freud/cluster.pyx
Labels: cluster

#406 Feature/standardize query args order
  freud/order.pyx
Labels: order
