Repository glotzerlab/freud, pull requests merged in 2019-10, with the labels that each got.

#487 Feature/standardize vector directions
  ChangeLog.md
  cpp/density/GaussianDensity.cc
  cpp/locality/NeighborComputeFunctional.h
  cpp/order/HexaticTranslational.cc
  doc/source/credits.rst
  tests/test_environment_LocalBondProjection.py
  tests/test_environment_LocalDescriptors.py
  tests/test_pmft.py
Labels: enhancement, locality

#488 Docs/2d warnings
  ChangeLog.md
  cpp/box/Box.h
  cpp/order/HexaticTranslational.cc
  cpp/pmft/PMFTR12.cc
  cpp/pmft/PMFTXY2D.cc
  cpp/pmft/PMFTXYT.cc
  cpp/pmft/PMFTXYZ.cc
  doc/source/credits.rst
  freud/density.pyx
  freud/locality.pyx
  freud/order.pyx
  freud/pmft.pyx
  tests/test_order_Hexatic.py
Labels: box, documentation, enhancement

#493 Update ReadTheDocs environment.
  README.rst
  doc/readthedocs-env.yml
  setup.py
Labels: bug, documentation

#492 Update CI configuration and dependencies.
  .circleci/config.yml
  appveyor.yml
  requirements-testing.txt
  requirements.txt
  setup.py
Labels: testing & validation

#489 Refactor/update locality matchenv apis
  ChangeLog.md
  cpp/density/GaussianDensity.cc
  cpp/environment/MatchEnv.cc
  cpp/environment/MatchEnv.h
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NeighborQuery.h
  cpp/locality/RawPoints.h
  doc/source/conf.py
  doc/source/credits.rst
  doc/source/environment.rst
  freud/_environment.pxd
  freud/_locality.pxd
  freud/cluster.pyx
  freud/common.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/interface.pyx
  freud/locality.pxd
  freud/locality.pyx
  freud/msd.pyx
  freud/order.pyx
  freud/pmft.pyx
  freud/util.pxd
  freud/util.pyx
  setup.py
  tests/test_environment_LocalBondProjection.py
  tests/test_environment_MatchEnv.py
  tests/test_interface.py
  tests/test_locality_NeighborList.py
  tests/test_locality_NeighborQuery.py
  tests/util.py
Labels: enhancement, environment, locality

#495 Feature/order quantities
  cpp/order/Steinhardt.h
  doc/source/credits.rst
  freud/_order.pxd
  freud/order.pyx
  tests/test_environment_LocalDescriptors.py
  tests/test_order_Hexatic.py
  tests/test_order_Steinhardt.py
  tests/test_order_Translational.py
Labels: enhancement, order

#498 Refactor/hide linkcell features
  ChangeLog.md
  cpp/locality/LinkCell.cc
  freud/_locality.pxd
  freud/locality.pxd
  freud/locality.pyx
  tests/test_locality_NeighborQuery.py
Labels: locality

#494 Use NeighborQuery in more classes
  ChangeLog.md
  cpp/cluster/Cluster.h
  cpp/cluster/ClusterProperties.cc
  cpp/cluster/ClusterProperties.h
  cpp/density/GaussianDensity.cc
  cpp/density/GaussianDensity.h
  cpp/locality/Voronoi.cc
  cpp/locality/Voronoi.h
  doc/source/credits.rst
  freud/_cluster.pxd
  freud/_density.pxd
  freud/_locality.pxd
  freud/cluster.pyx
  freud/density.pyx
  freud/locality.pyx
  freud/order.pyx
  tests/test_cluster.py
  tests/test_density_GaussianDensity.py
  tests/test_locality_Voronoi.py
Labels: enhancement

#348 Docs/add tutorial
  ChangeLog.md
  doc/source/conf.py
  doc/source/credits.rst
  doc/source/datainputs.rst
  doc/source/examples.rst
  doc/source/gettingstarted.rst
  doc/source/images/PeriodicBoundaryConditions.ai
  doc/source/images/PeriodicBoundaryConditions.png
  doc/source/index.rst
  doc/source/introduction.rst
  doc/source/optimizing.rst
  doc/source/querying.rst
  doc/source/tutorial.rst
  doc/source/tutorial/computeclass.rst
  doc/source/tutorial/neighborfinding.rst
  doc/source/tutorial/paircompute.rst
  doc/source/tutorial/periodic.rst
Labels: documentation, enhancement

#501 Feature/more nqs
  ChangeLog.md
  cpp/box/PeriodicBuffer.cc
  cpp/box/PeriodicBuffer.h
  doc/source/credits.rst
  freud/_box.pxd
  freud/box.pyx
  freud/cluster.pyx
  freud/environment.pyx
  freud/interface.pyx
  freud/locality.pyx
  freud/pmft.pyx
  tests/test_box_PeriodicBuffer.py
  tests/test_cluster.py
  tests/test_interface.py
Labels: enhancement

#502 Docs/update docstrings
  ChangeLog.md
  cpp/order/Cubatic.cc
  cpp/pmft/PMFTXY.cc
  cpp/pmft/PMFTXY.h
  doc/source/conf.py
  doc/source/credits.rst
  doc/source/interface.rst
  doc/source/pmft.rst
  freud/_pmft.pxd
  freud/box.pyx
  freud/cluster.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/interface.pyx
  freud/locality.pyx
  freud/msd.pyx
  freud/order.pyx
  freud/pmft.pyx
  tests/test_order_RotationalAutocorrelation.py
  tests/test_pmft.py
Labels: documentation, enhancement

#460 Feature/wl normalization
  .circleci/config.yml
  appveyor.yml
  cpp/order/Steinhardt.cc
  cpp/order/Steinhardt.h
  freud/_order.pxd
  freud/order.pyx
  requirements-testing.txt
  requirements.txt
  setup.py
  tests/__init__.py
  tests/validation/__init__.py
  tests/validation/files/minkowski_structure_metrics/README.md
  tests/validation/files/minkowski_structure_metrics/bcc.gsd
  tests/validation/files/minkowski_structure_metrics/bcc_avq.txt
  tests/validation/files/minkowski_structure_metrics/bcc_avw.txt
  tests/validation/files/minkowski_structure_metrics/bcc_q.txt
  tests/validation/files/minkowski_structure_metrics/bcc_unitcell.gsd
  tests/validation/files/minkowski_structure_metrics/bcc_unitcell_avq.txt
  tests/validation/files/minkowski_structure_metrics/bcc_unitcell_avw.txt
  tests/validation/files/minkowski_structure_metrics/bcc_unitcell_q.txt
  tests/validation/files/minkowski_structure_metrics/bcc_unitcell_w.txt
  tests/validation/files/minkowski_structure_metrics/bcc_w.txt
  tests/validation/files/minkowski_structure_metrics/fcc.gsd
  tests/validation/files/minkowski_structure_metrics/fcc_avq.txt
  tests/validation/files/minkowski_structure_metrics/fcc_avw.txt
  tests/validation/files/minkowski_structure_metrics/fcc_q.txt
  tests/validation/files/minkowski_structure_metrics/fcc_unitcell.gsd
  tests/validation/files/minkowski_structure_metrics/fcc_unitcell_avq.txt
  tests/validation/files/minkowski_structure_metrics/fcc_unitcell_avw.txt
  tests/validation/files/minkowski_structure_metrics/fcc_unitcell_q.txt
  tests/validation/files/minkowski_structure_metrics/fcc_unitcell_w.txt
  tests/validation/files/minkowski_structure_metrics/fcc_w.txt
  tests/validation/files/minkowski_structure_metrics/hcp.gsd
  tests/validation/files/minkowski_structure_metrics/hcp_avq.txt
  tests/validation/files/minkowski_structure_metrics/hcp_avw.txt
  tests/validation/files/minkowski_structure_metrics/hcp_q.txt
  tests/validation/files/minkowski_structure_metrics/hcp_unitcell.gsd
  tests/validation/files/minkowski_structure_metrics/hcp_unitcell_avq.txt
  tests/validation/files/minkowski_structure_metrics/hcp_unitcell_avw.txt
  tests/validation/files/minkowski_structure_metrics/hcp_unitcell_q.txt
  tests/validation/files/minkowski_structure_metrics/hcp_unitcell_w.txt
  tests/validation/files/minkowski_structure_metrics/hcp_w.txt
  tests/validation/files/minkowski_structure_metrics/sc.gsd
  tests/validation/files/minkowski_structure_metrics/sc_avq.txt
  tests/validation/files/minkowski_structure_metrics/sc_avw.txt
  tests/validation/files/minkowski_structure_metrics/sc_q.txt
  tests/validation/files/minkowski_structure_metrics/sc_unitcell.gsd
  tests/validation/files/minkowski_structure_metrics/sc_unitcell_avq.txt
  tests/validation/files/minkowski_structure_metrics/sc_unitcell_avw.txt
  tests/validation/files/minkowski_structure_metrics/sc_unitcell_q.txt
  tests/validation/files/minkowski_structure_metrics/sc_unitcell_w.txt
  tests/validation/files/minkowski_structure_metrics/sc_w.txt
  tests/validation/test_Minkowski_Structure_Metrics.py
Labels: enhancement, order, testing & validation

#511 Add cython to pyproject.toml
  pyproject.toml
Labels: building & installation

#510 Add radii_of_gyration to ClusterProperties.
  ChangeLog.md
  doc/source/credits.rst
  freud/cluster.pyx
  tests/test_cluster.py
Labels: cluster, enhancement

#515 Fix/localdensity query points
  ChangeLog.md
  cpp/density/LocalDensity.cc
  doc/source/credits.rst
  freud/density.pyx
  freud/environment.pyx
  freud/pmft.pyx
  tests/test_density_LocalDensity.py
  tests/test_environment_BondOrder.py
Labels: bug, density

#519 Fix/issue481
  cpp/locality/NeighborComputeFunctional.h
  freud/environment.pyx
  freud/pmft.pyx
  tests/test_pmft.py
Labels: documentation, pmft

#526 Removed HOOMDMath and cudacpu includes.
  cpp/order/Nematic.cc
  cpp/util/HOOMDMath.h
  cpp/util/VectorMath.h
  cpp/util/cudacpu_host_defines.h
  cpp/util/cudacpu_vector_functions.h
  cpp/util/cudacpu_vector_types.h
  doc/source/credits.rst
  setup.py
Labels: enhancement

#523 Fix/issue198
  ChangeLog.md
  cpp/pmft/PMFTXY.cc
  cpp/pmft/PMFTXYT.cc
  cpp/pmft/PMFTXYZ.cc
  doc/source/credits.rst
  doc/source/freud.bib
  freud/pmft.pyx
  tests/test_pmft.py
Labels: pmft

#524 Feature/add data
  ChangeLog.md
  doc/source/credits.rst
  freud/__init__.py
  freud/_box.pxd
  freud/box.pyx
  freud/data.py
  freud/plot.py
  tests/test_box_Box.py
  tests/test_cluster.py
  tests/test_data.py
  tests/test_density_GaussianDensity.py
  tests/test_density_LocalDensity.py
  tests/test_environment_AngularSeparation.py
  tests/test_environment_BondOrder.py
  tests/test_environment_LocalBondProjection.py
  tests/test_environment_LocalDescriptors.py
  tests/test_interface.py
  tests/test_locality_NeighborList.py
  tests/test_locality_Voronoi.py
  tests/test_msd_MSD.py
  tests/test_order_SolidLiquid.py
  tests/test_order_Steinhardt.py
  tests/test_util.py
  tests/util.py
Labels: documentation, enhancement, testing & validation

#528 Feature/hide rawpoints
  doc/source/locality.rst
  freud/locality.pxd
  freud/locality.pyx
  tests/util.py
Labels: enhancement

#529 Feature/rdf normalization
  ChangeLog.md
  cpp/density/RDF.cc
  cpp/density/RDF.h
  doc/source/credits.rst
  freud/_density.pxd
  freud/density.pyx
  tests/test_density_RDF.py
Labels: density, enhancement

#530 Revised data inputs section of docs.
  doc/source/datainputs.rst
Labels: documentation

#531 Add data module to docs.
  doc/source/data.rst
  doc/source/index.rst
  freud/data.py
Labels: documentation

#536 Resolve issue #535.
  ChangeLog.md
  doc/source/credits.rst
  freud/density.pyx
  freud/environment.pyx
  freud/msd.pyx
  tests/test_msd_MSD.py
Labels: enhancement

#537 Change CorrelationFunction behavior to automatically conjugate
  ChangeLog.md
  cpp/density/CorrelationFunction.cc
  doc/source/credits.rst
  doc/source/freud.bib
  freud/density.pyx
  freud/locality.pyx
  setup.py
  tests/test_density_CorrelationFunction.py
Labels: density
