Repository glotzerlab/freud, pull requests merged in 2019-04, with the labels that each got.

#238 Feature/neigbor list getitem
  doc/source/credits.rst
  freud/locality.pyx
  tests/test_locality_NeighborList.py
Labels: enhancement, locality

#235 Enable ParticleBuffer to have different buffers in x, y, z.
  cpp/box/ParticleBuffer.cc
  cpp/box/ParticleBuffer.h
  freud/_box.pxd
  freud/box.pyx
  tests/test_box_ParticleBuffer.py
Labels: enhancement

#247 Parallelize Steinhardt - Part 1
  cpp/order/LocalQl.cc
  cpp/order/LocalQl.h
  cpp/order/LocalWl.cc
Labels: enhancement, order

#241 Rewrite neighbor finding in freud
  ChangeLog.md
  appveyor.yml
  cpp/environment/MatchEnv.cc
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  doc/source/credits.rst
  doc/source/locality.rst
  freud/_locality.pxd
  freud/box.cpp
  freud/cluster.cpp
  freud/density.cpp
  freud/environment.cpp
  freud/index.cpp
  freud/interface.cpp
  freud/locality.cpp
  freud/locality.pxd
  freud/locality.pyx
  freud/msd.cpp
  freud/order.cpp
  freud/parallel.cpp
  freud/pmft.cpp
  freud/voronoi.cpp
  setup.py
  tests/test_locality_AABBQuery.py
  tests/test_locality_NeighborQuery.py
Labels: enhancement
