Repository glotzerlab/freud, pull requests merged in 2019-09, with the labels that each got.

#419 Refactor/single query iterator
  cpp/density/LocalDensity.cc
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NeighborBond.h
  cpp/locality/NeighborComputeFunctional.cc
  cpp/locality/NeighborComputeFunctional.h
  cpp/locality/NeighborPerPointIterator.cc
  cpp/locality/NeighborPerPointIterator.h
  cpp/locality/NeighborQuery.h
  cpp/locality/RawPoints.h
  cpp/order/HexTransOrderParameter.cc
  cpp/order/Steinhardt.cc
  freud/_locality.pxd
  freud/common.pyx
  freud/environment.pyx
  freud/interface.pyx
  freud/locality.pxd
  freud/locality.pyx
  setup.py
  tests/test_interface.py
  tests/test_locality_LinkCell.py
  tests/test_locality_NeighborQuery.py
Labels: enhancement, locality

#423 Fix/rdf defaults
  cpp/density/RDF.cc
  cpp/density/RDF.h
  freud/density.pyx
  tests/test_density_RDF.py
Labels: density

#428 Fix/linkcell issue pr409
  ChangeLog.md
  cpp/locality/LinkCell.cc
  tests/test_locality_NeighborQuery.py
  tests/util.py
Labels: bug, locality

#427 Refactor/managedarray order
  ChangeLog.md
  cpp/order/CubaticOrderParameter.cc
  cpp/order/CubaticOrderParameter.h
  cpp/order/HexTransOrderParameter.cc
  cpp/order/HexTransOrderParameter.h
  cpp/order/NematicOrderParameter.cc
  cpp/order/NematicOrderParameter.h
  cpp/order/RotationalAutocorrelation.cc
  cpp/order/RotationalAutocorrelation.h
  cpp/util/ManagedArray.h
  cpp/util/TensorMath.h
  cpp/util/diagonalize.cc
  cpp/util/diagonalize.h
  freud/_order.pxd
  freud/order.pyx
  tests/test_order_Cubatic.py
Labels: order

#426 Switch to using ManagedArray in GaussianDensity
  cpp/density/GaussianDensity.cc
  cpp/density/GaussianDensity.h
  freud/_density.pxd
  freud/density.pyx
  freud/plot.py
Labels: density

#425 Refactor/managedarray histogram
  ChangeLog.md
  cpp/density/RDF.cc
  cpp/density/RDF.h
  cpp/pmft/PMFT.cc
  cpp/pmft/PMFT.h
  cpp/pmft/PMFTR12.cc
  cpp/pmft/PMFTR12.h
  cpp/pmft/PMFTXY2D.cc
  cpp/pmft/PMFTXY2D.h
  cpp/pmft/PMFTXYT.cc
  cpp/pmft/PMFTXYT.h
  cpp/pmft/PMFTXYZ.cc
  cpp/pmft/PMFTXYZ.h
  cpp/util/NdHistogram.h
  cpp/util/a.out
  freud/_density.pxd
  freud/_pmft.pxd
  freud/density.pyx
  freud/pmft.pyx
  tests/test_pmft.py
Labels: density, pmft

#409 Enable query_args for Steinhardt
  ChangeLog.md
  cpp/order/Steinhardt.cc
  cpp/order/Steinhardt.h
  freud/_order.pxd
  freud/common.pyx
  freud/locality.pyx
  freud/order.pyx
  tests/test_environment_LocalDescriptors.py
  tests/test_order_Steinhardt.py
Labels: enhancement, order

#432 Make tests work for pytest
  tests/test_locality_NeighborQuery.py
Labels: testing & validation

#408 Change clustering algorithm to use connected components
  ChangeLog.md
  cpp/cluster/Cluster.cc
  cpp/cluster/Cluster.h
  freud/_cluster.pxd
  freud/cluster.pyx
  tests/test_cluster.py
Labels: cluster, enhancement

#430 Modernize BondOrder
  cpp/environment/BondOrder.cc
  cpp/environment/BondOrder.h
  freud/_environment.pxd
  freud/environment.pyx
Labels: enhancement, environment

#429 Refactor/rename r guess
  ChangeLog.md
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NearestNeighbors.cc
  cpp/locality/NearestNeighbors.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  cpp/order/Steinhardt.cc
  freud/_locality.pxd
  freud/environment.pyx
  freud/locality.pxd
  freud/locality.pyx
  freud/order.pyx
  tests/test_environment_LocalDescriptors.py
  tests/test_locality_NearestNeighbors.py
  tests/test_locality_NeighborList.py
  tests/test_locality_NeighborQuery.py
  tests/util.py
Labels: enhancement, locality

#417 Use ManagedArray for NeighborList
  cpp/cluster/Cluster.cc
  cpp/environment/AngularSeparation.cc
  cpp/environment/LocalBondProjection.cc
  cpp/environment/LocalDescriptors.cc
  cpp/environment/MatchEnv.cc
  cpp/environment/MatchEnv.h
  cpp/locality/NeighborComputeFunctional.h
  cpp/locality/NeighborList.cc
  cpp/locality/NeighborList.h
  cpp/locality/NeighborQuery.h
  cpp/locality/Voronoi.cc
  cpp/order/SolLiq.cc
  cpp/util/ManagedArray.h
  freud/_cluster.pxd
  freud/_locality.pxd
  freud/environment.pyx
  freud/interface.pyx
  freud/locality.pyx
  freud/util.pxd
  tests/test_environment_LocalDescriptors.py
  tests/test_locality_NeighborList.py
  tests/test_locality_NeighborQuery.py
  tests/test_locality_Voronoi.py
  tests/test_order_Steinhardt.py
Labels: enhancement, locality

#383 Add citations
  doc/source/citing.rst
  doc/source/index.rst
  doc/source/references.rst
  freud/__init__.py
Labels: documentation

#437 Feature/r min filter
  ChangeLog.md
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  freud/_locality.pxd
  freud/locality.pyx
  tests/test_locality_NeighborQuery.py
Labels: enhancement

#440 Refactor order parameters (Hexatic, Translational, Nematic, Cubatic)
  ChangeLog.md
  cpp/density/CorrelationFunction.h
  cpp/order/Cubatic.cc
  cpp/order/Cubatic.h
  cpp/order/HexTransOrderParameter.cc
  cpp/order/HexaticTranslational.cc
  cpp/order/HexaticTranslational.h
  cpp/order/Nematic.cc
  cpp/order/Nematic.h
  cpp/order/Steinhardt.h
  doc/source/order.rst
  freud/_order.pxd
  freud/order.pyx
  tests/test_order_Cubatic.py
  tests/test_order_Hexatic.py
  tests/test_order_Nematic.py
  tests/test_order_Steinhardt.py
  tests/test_order_Translational.py
Labels: enhancement, order

#442 Refactor/managedarray environment
  cpp/environment/BondOrder.cc
  cpp/environment/BondOrder.h
  cpp/environment/LocalBondProjection.cc
  cpp/environment/LocalBondProjection.h
  freud/_environment.pxd
  freud/environment.pyx
Labels: enhancement, environment

#444 Use ManagedArray in LinkCell.
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
Labels: enhancement, locality

#443 AngularSeparation ManagedArray
  cpp/environment/AngularSeparation.cc
  cpp/environment/AngularSeparation.h
  cpp/util/ManagedArray.h
  freud/_environment.pxd
  freud/environment.pyx
  tests/test_environment_AngularSeparation.py
Labels: enhancement, environment

#452 Refactor/make default nlist
  freud/environment.pyx
  freud/locality.pyx
  freud/order.pyx
  tests/test_environment_LocalBondProjection.py
  tests/util.py
Labels: bug, enhancement, environment, locality

#450 Enable Steinhardt l=0,1
  ChangeLog.md
  cpp/order/Steinhardt.h
  freud/order.pyx
  tests/test_order_Steinhardt.py
Labels: enhancement, order

#451 Refactor/environment managedarray
  cpp/environment/LocalDescriptors.cc
  cpp/environment/LocalDescriptors.h
  cpp/environment/MatchEnv.cc
  cpp/environment/MatchEnv.h
  cpp/locality/NeighborList.cc
  cpp/order/Nematic.cc
  cpp/util/BiMap.h
  cpp/util/ManagedArray.h
  cpp/util/diagonalize.cc
  cpp/util/diagonalize.h
  freud/_environment.pxd
  freud/environment.pyx
Labels: enhancement, environment

#441 Use ManagedArray in ParticleBuffer
  cpp/box/ParticleBuffer.cc
  cpp/box/ParticleBuffer.h
  freud/_box.pxd
  freud/box.pyx
  freud/locality.pyx
Labels: box, enhancement

#455 Refactor/cleanup
  cpp/box/Box.cc
  cpp/box/Box.h
  cpp/box/ParticleBuffer.cc
  cpp/box/ParticleBuffer.h
  cpp/cluster/Cluster.cc
  cpp/cluster/Cluster.h
  cpp/cluster/ClusterProperties.cc
  cpp/cluster/ClusterProperties.h
  cpp/density/CorrelationFunction.cc
  cpp/density/CorrelationFunction.h
  cpp/density/GaussianDensity.cc
  cpp/density/GaussianDensity.h
  cpp/density/LocalDensity.cc
  cpp/density/LocalDensity.h
  cpp/density/RDF.cc
  cpp/density/RDF.h
  cpp/environment/AngularSeparation.cc
  cpp/environment/AngularSeparation.h
  cpp/environment/BondOrder.cc
  cpp/environment/BondOrder.h
  cpp/environment/LocalBondProjection.cc
  cpp/environment/LocalBondProjection.h
  cpp/environment/LocalDescriptors.cc
  cpp/environment/LocalDescriptors.h
  cpp/environment/MatchEnv.cc
  cpp/environment/MatchEnv.h
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/AABBTree.h
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NeighborBond.h
  cpp/locality/NeighborComputeFunctional.h
  cpp/locality/NeighborList.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  cpp/locality/Voronoi.cc
  cpp/order/Cubatic.cc
  cpp/order/Cubatic.h
  cpp/order/HexaticTranslational.cc
  cpp/order/HexaticTranslational.h
  cpp/order/Nematic.cc
  cpp/order/Nematic.h
  cpp/order/RotationalAutocorrelation.cc
  cpp/order/RotationalAutocorrelation.h
  cpp/order/SolLiq.cc
  cpp/order/Steinhardt.cc
  cpp/order/Steinhardt.h
  cpp/order/Wigner3j.cc
  cpp/parallel/tbb_config.cc
  cpp/parallel/tbb_config.h
  cpp/pmft/PMFT.h
  cpp/pmft/PMFTXYZ.cc
  cpp/registration/brute_force.h
  cpp/util/BiMap.h
  cpp/util/Histogram.h
  cpp/util/Index1D.h
  cpp/util/ManagedArray.h
  cpp/util/utils.h
  setup.py
Labels: enhancement

#458 Fix/iterator terminator
  cpp/locality/NeighborQuery.cc
Labels: bug

#459 Feature/histogram compute
  ChangeLog.md
  cpp/density/CorrelationFunction.cc
  cpp/density/CorrelationFunction.h
  cpp/density/RDF.cc
  cpp/density/RDF.h
  cpp/environment/BondOrder.cc
  cpp/environment/BondOrder.h
  cpp/locality/BondHistogramCompute.h
  cpp/pmft/PMFT.h
  cpp/pmft/PMFTR12.cc
  cpp/pmft/PMFTXY2D.cc
  cpp/pmft/PMFTXYT.cc
  cpp/pmft/PMFTXYZ.cc
  cpp/util/Histogram.h
  freud/_density.pxd
  freud/_environment.pxd
  freud/_locality.pxd
  freud/_pmft.pxd
  freud/cluster.pyx
  freud/common.pxd
  freud/common.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/locality.pxd
  freud/locality.pyx
  freud/order.pyx
  freud/pmft.pyx
  tests/test_density_ComplexCF.py
  tests/test_density_CorrelationFunction.py
  tests/test_density_FloatCF.py
  tests/test_density_RDF.py
  tests/test_environment_BondOrder.py
  tests/test_pmft.py
Labels: enhancement

#445 SolidLiquid rewrite
  ChangeLog.md
  cpp/order/SolLiq.cc
  cpp/order/SolLiq.h
  cpp/order/SolidLiquid.cc
  cpp/order/SolidLiquid.h
  cpp/order/Steinhardt.cc
  cpp/order/Steinhardt.h
  cpp/order/Wigner3j.cc
  cpp/order/Wigner3j.h
  doc/source/order.rst
  freud/_order.pxd
  freud/cluster.pyx
  freud/environment.pyx
  freud/locality.pyx
  freud/order.pyx
  setup.py
  tests/test_order_SolLiq.py
  tests/test_order_SolidLiquid.py
Labels: enhancement, order

#461 Docs/move credits
  .github/PULL_REQUEST_TEMPLATE.md
  doc/source/credits.rst
  freud/box.pyx
  freud/cluster.pyx
  freud/common.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/interface.pyx
  freud/locality.pyx
  freud/msd.pyx
  freud/order.pyx
  freud/parallel.pyx
  freud/pmft.pyx
  freud/util.pyx
Labels: documentation

#462 Disallow 2D box with 3D points
  ChangeLog.md
  cpp/locality/LinkCell.cc
  cpp/locality/LinkCell.h
  cpp/locality/NeighborQuery.h
  cpp/order/Nematic.cc
  cpp/util/BiMap.h
  freud/_locality.pxd
  tests/test_locality_NeighborQuery.py
  tests/test_pmft.py
Labels: enhancement

#473 Refactor/standardize arguments2
  ChangeLog.md
  cpp/density/GaussianDensity.cc
  cpp/density/GaussianDensity.h
  cpp/environment/LocalDescriptors.h
  cpp/order/Cubatic.h
  cpp/order/SolidLiquid.h
  cpp/order/Steinhardt.h
  doc/source/credits.rst
  freud/_density.pxd
  freud/_environment.pxd
  freud/_order.pxd
  freud/environment.pyx
  freud/order.pyx
Labels: enhancement

#474 Refactor/neighbor bond indices
  cpp/cluster/Cluster.cc
  cpp/density/CorrelationFunction.cc
  cpp/environment/BondOrder.cc
  cpp/locality/AABBQuery.cc
  cpp/locality/NeighborBond.h
  cpp/locality/NeighborComputeFunctional.h
  cpp/locality/NeighborQuery.h
  cpp/locality/Voronoi.cc
  cpp/order/HexaticTranslational.cc
  cpp/order/Steinhardt.cc
  cpp/pmft/PMFTR12.cc
  cpp/pmft/PMFTXY2D.cc
  cpp/pmft/PMFTXYT.cc
  cpp/pmft/PMFTXYZ.cc
  doc/source/credits.rst
  freud/_locality.pxd
  freud/locality.pyx
Labels: locality

#475 Refactor/cluster apis
  ChangeLog.md
  cpp/cluster/Cluster.cc
  cpp/cluster/Cluster.h
  cpp/cluster/ClusterProperties.cc
  cpp/cluster/ClusterProperties.h
  doc/source/cluster.rst
  doc/source/credits.rst
  freud/_cluster.pxd
  freud/cluster.pyx
  tests/test_cluster.py
Labels: cluster, enhancement

#476 Update TBB install documentation.
  setup.py
Labels: enhancement

#477 Feature/merge readme docindex
  README.md
  README.rst
  doc/source/conf.py
  doc/source/index.rst
  setup.py
Labels: documentation

#479 Fix/issue346
  ChangeLog.md
  cpp/environment/BondOrder.cc
  cpp/environment/LocalBondProjection.cc
  cpp/environment/LocalDescriptors.cc
  cpp/locality/NeighborBond.h
  cpp/locality/NeighborComputeFunctional.cc
  cpp/locality/NeighborComputeFunctional.h
  cpp/pmft/PMFTR12.cc
  cpp/pmft/PMFTXY2D.cc
  cpp/pmft/PMFTXYT.cc
  cpp/pmft/PMFTXYZ.cc
  doc/source/credits.rst
  tests/test_environment_LocalDescriptors.py
Labels: enhancement, locality

#478 Update tested python versions
  .circleci/config.yml
Labels: testing & validation

#483 Change test_set unpacking in tests
  tests/test_cluster.py
  tests/test_density_CorrelationFunction.py
  tests/test_density_LocalDensity.py
  tests/test_density_RDF.py
  tests/test_environment_BondOrder.py
  tests/test_locality_NeighborQuery.py
  tests/test_order_Hexatic.py
  tests/test_order_Steinhardt.py
  tests/test_order_Translational.py
  tests/test_pmft.py
Labels: testing & validation

#482 Feature/enable 2d quaternions
  ChangeLog.md
  cpp/density/LocalDensity.cc
  cpp/density/LocalDensity.h
  doc/source/credits.rst
  freud/_density.pxd
  freud/pmft.pyx
  setup.py
  tests/test_pmft.py
Labels: enhancement, pmft

#469 Refactor/box methods
  ChangeLog.md
  cpp/box/Box.h
  cpp/box/PeriodicBuffer.cc
  cpp/box/PeriodicBuffer.h
  cpp/locality/LinkCell.cc
  doc/source/box.rst
  doc/source/credits.rst
  doc/source/density.rst
  doc/source/howtoadd.rst
  doc/source/index.rst
  doc/source/modules.rst
  doc/source/parallel.rst
  freud/__init__.py
  freud/_box.pxd
  freud/box.pxd
  freud/box.pyx
  freud/density.pyx
  freud/locality.pyx
  freud/parallel.pyx
  tests/test_box_Box.py
  tests/test_box_PeriodicBuffer.py
  tests/test_locality_NeighborQuery.py
  tests/test_parallel.py
Labels: box, documentation, enhancement

#485 Docs/update api
  ChangeLog.md
  doc/source/box.rst
  doc/source/cluster.rst
  doc/source/density.rst
  doc/source/environment.rst
  doc/source/interface.rst
  doc/source/locality.rst
  doc/source/msd.rst
  doc/source/order.rst
  doc/source/pmft.rst
  freud/locality.pyx
Labels: documentation
