Repository glotzerlab/freud, pull requests merged in 2020-10, with the labels that each got.

#667 Expose nlist.num_points and nlist.num_query_points
  ChangeLog.md
  cpp/locality/NeighborList.cc
  doc/source/reference/credits.rst
  freud/locality.pyx
  tests/test_locality_NeighborList.py
Labels: enhancement, locality

#657 Always normalize Hexatic order parameters by the number of neighbors.
  ChangeLog.md
  cpp/locality/Voronoi.cc
  cpp/order/HexaticTranslational.cc
  cpp/order/HexaticTranslational.h
  doc/source/reference/credits.rst
  doc/source/reference/freud.bib
  freud/box.pyx
  freud/order.pyx
  tests/test_locality_Voronoi.py
  tests/test_order_Hexatic.py
Labels: bug, order

#670 Deprecation/order translational
  ChangeLog.md
  cpp/order/HexaticTranslational.h
  freud/order.pyx
Labels: order

#676 Enable scikit-build on Windows (without static members)
  .circleci/config.yml
  CMakeLists.txt
  cpp/CMakeLists.txt
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/CMakeLists.txt
  cpp/locality/LinkCell.cc
  cpp/locality/NeighborBond.h
  cpp/locality/NeighborPerPointIterator.cc
  cpp/locality/NeighborPerPointIterator.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  freud/_locality.pxd
Labels: building & installation, enhancement
