Repository glotzerlab/freud, pull requests merged in 2020-03, with the labels that each got.

#592 Disallow NeighborQuery with zero points.
  cpp/locality/LinkCell.cc
  cpp/locality/NeighborQuery.h
  tests/test_locality_NeighborQuery.py
Labels: bug, locality

#594 Ignore freud's generated Cython C++ files in git.
  .circleci/config.yml
  .gitignore
  ChangeLog.md
  appveyor.yml
  cpp/locality/AABBTree.h
  doc/source/gettingstarted/installation.rst
  doc/source/reference/development/releases.rst
  freud/box.cpp
  freud/cluster.cpp
  freud/density.cpp
  freud/environment.cpp
  freud/interface.cpp
  freud/locality.cpp
  freud/locality.pyx
  freud/msd.cpp
  freud/order.cpp
  freud/parallel.cpp
  freud/pmft.cpp
  freud/util.cpp
  requirements-testing.txt
  requirements.txt
  setup.py
  tests/validation/test_Minkowski_Structure_Metrics.py
Labels: building & installation

#597 provide per particle msd in MSD method
  freud/msd.pyx
  tests/test_msd_MSD.py
Labels: enhancement

#599 Fix typos / missing links in docs
  cpp/density/RDF.h
  freud/box.pyx
  freud/cluster.pyx
  freud/density.pyx
  freud/environment.pyx
  freud/locality.pyx
  freud/order.pyx
Labels: documentation
