Repository glotzerlab/freud, pull requests merged in 2020-04, with the labels that each got.

#590 Construct NeighborLists without distances, box functions to calculate distances from points
  ChangeLog.md
  cpp/box/Box.h
  cpp/util/utils.h
  doc/source/reference/credits.rst
  freud/_box.pxd
  freud/box.pyx
  freud/locality.pyx
  tests/test_box_Box.py
  tests/test_locality_NeighborList.py
Labels: box, enhancement, locality

#600 Fix miscellaneous warnings
  MANIFEST.in
  freud/locality.pyx
  setup.py
Labels: enhancement

#604 Use interpolation to improve stability of bins.
  ChangeLog.md
  cpp/util/Histogram.h
  doc/source/reference/credits.rst
  tests/test_density_RDF.py
Labels: bug, density
