Repository glotzerlab/freud, pull requests merged in 2020-11, with the labels that each got.

#668 Feature/enable skbuild
  .circleci/config.yml
  .circleci/deploy-linux.sh
  .circleci/deploy-macos.sh
  .gitignore
  CMake/CMakeLists.txt
  CMake/FindTBB.cmake
  CMake/freud-macros.cmake
  CMakeLists.txt
  ChangeLog.md
  cpp/CMakeLists.txt
  cpp/cluster/CMakeLists.txt
  cpp/density/CMakeLists.txt
  cpp/environment/CMakeLists.txt
  cpp/locality/AABBQuery.cc
  cpp/locality/AABBQuery.h
  cpp/locality/CMakeLists.txt
  cpp/locality/LinkCell.cc
  cpp/locality/NeighborBond.h
  cpp/locality/NeighborPerPointIterator.cc
  cpp/locality/NeighborPerPointIterator.h
  cpp/locality/NeighborQuery.cc
  cpp/locality/NeighborQuery.h
  cpp/order/CMakeLists.txt
  cpp/parallel/CMakeLists.txt
  cpp/pmft/CMakeLists.txt
  cpp/util/CMakeLists.txt
  doc/readthedocs-env.yml
  doc/source/gettingstarted/installation.rst
  doc/source/reference/credits.rst
  doc/source/reference/development/howtoadd.rst
  freud/CMakeLists.txt
  freud/_locality.pxd
  pyproject.toml
  requirements-testing.txt
  setup.py
  tests/integration/test_reader_integrations.py
Labels: building & installation, enhancement

#688 Fix Windows CI
  .circleci/config.yml
Labels: building & installation

#685 Feature/pre commit
  .circleci/config.yml
  .pre-commit-config.yaml
  CMake/CMakeLists.txt
  CMake/FindTBB.cmake
  CMake/freud-macros.cmake
  ChangeLog.md
  benchmarks/.gitignore
  benchmarks/reports/benchmark.json
  cpp/box/Box.h
  cpp/density/GaussianDensity.cc
  cpp/locality/NeighborComputeFunctional.cc
  cpp/locality/NeighborQuery.h
  cpp/pmft/PMFTXYZ.cc
  cpp/pmft/PMFTXYZ.h
  doc/source/reference/credits.rst
  doc/source/reference/development/howtoadd.rst
  doc/source/reference/development/specialtopics/memory.rst
  requirements-precommit.txt
  setup.cfg
Labels: building & installation, enhancement, testing & validation

#698 Force fractional offset to zero for 2D image calculations.
  ChangeLog.md
  cpp/box/Box.h
  doc/source/reference/credits.rst
  tests/test_box_Box.py
Labels: box, bug
